<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Example</title>
</head>
<body>

   

    <h1>Dados JSON do Banco de Dados</h1>
    {% for json_data in dados_json %}
        <p>{{ json_data["id"]}}</p>
        <p>{{ json_data["nome"]}}</p>
        <p>{{ json_data["tipo"]}}</p>
        <img src="{{json_data["img"]}}" alt="image-{{json_data["nome"]}}"></img>
    {% endfor %}
</body>
</html>
